footer {
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    // background-color: red;
    color: white !important;
    // margin-bottom: 0px;
    // padding: 20px 0;
    background-color: #f8f9fa;
  }
  .bglight{
    background-color: #E5DDC5;
  }
  